.box {
  height: 100px;
  width: 100px;
  /* box-shadow: inset 2px 4px 8px rgba(0, 0, 0, 0.6); */
  box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.1);
}

.para {
  text-shadow: 2px 4px 2px rgba(248, 17, 17, 0.3);
}

.container {
  border: 2px solid crimson;
  height: 200px;
  width: 200px;
  transition: all 10s ease;
}

.container:hover {
  /* transform: translateX(50px); */
  /* transform: translateY(500px); */
  /* transform: scale(1.5); */
  /* transform: rotate(360deg); */
  /* transform: rotateX(45deg); */
  /* transform: rotateY(45deg); */
  /* transform: rotateZ(45deg); */

  transform: translateX(650px) scale(1.8) rotate(90deg);
}

.random {
  margin: 30px 0;
  border: 5px solid greenyellow;
  height: 200px;
  width: 200px;
  animation: animate1 3s infinite ease;
}

@keyframes animate1 {
  0% {
    background-color: red;
  }

  30% {
    background-color: green;
    transform: translateX(500px);
  }

  50% {
    transform: scale(2);
  }

  70% {
    background-color: purple;
    transform: rotate(360deg);
  }
}
