@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&family=Italianno&family=Poppins:wght@300;400;600&family=Roboto:ital,wght@0,100;0,400;0,700;1,400;1,700&family=Sedan:ital@0;1&family=Tangerine&display=swap");

.container {
  background: url("https://images.pexels.com/photos/534164/pexels-photo-534164.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
    center center/cover;
  height: 300px;
  width: 500px;
}

.unique {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(100, 43, 115, 1) 0%,
    rgba(4, 0, 4, 1) 90%
  );
  color: #fff;
}

.unique:hover {
  color: red;
}

.name {
  font-family: "Sedan", serif;
}

.name:hover {
  color: green;
  background-color: #000;
  border: 10px solid crimson;
}



